@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    font: normal 15px/1.5em;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
a {text-decoration: none; color: #ffffff;}
ul, li {list-style: none;}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
    z-index: -100;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.m_navi_wrap {display: none;}
.menu_btn {display: none;}

.logo {margin-left: 150px;}
.logo img {
    filter: invert(1);
    transform: scale(1.5);
}

nav {
    margin-right: 9%;
}
.navi {
    width: 100%;
    height: 45px;
}
.navi li {
    float: left; 
    margin-right: 20px;
}
.navi li:last-child {margin-right: 0;}

.navi li a {
    display: inline-block;
    font-size: 22px;
    /*background-color: blue;*/
    padding: 8px 10px;
    font-weight: 500;
    transition: ease 0.5s;
}
.navi li a:hover {
    color: black;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


.contents {
    max-width: 600px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.contents h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}
.contents > a {
    display: block;
    background: #e51e2a;
    border-radius: 25px;
    max-width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 50px;
    transition: ease 0.5s;
}
.contents > a:hover {
    background-color: rgba(255,255,255,1);
    color: #e51e2a;
}


.sns {
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    left: 10%;
}
.sns > li > a {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    position: relative;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 30px;
}
/*.sns > li > a:last-child {margin-right: 0;}*/
.sns > li > a > img {
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sns > li > a:hover {
    background: #e51e2a;
    transform: translateY(-10px);
}

/*js*/
.swiper {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 500px;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    display: block;
    /*width: 100%;*/
    max-width: 150px;
    position: absolute;
    bottom: 0;
    max-height: 100%;
  }

  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
      background-image: none;
  }






  @media (max-width: 1200px) {
      .navi {display: none;}

      .logo {
          transform: scale(0.8);
          margin-left: 11%;
      }

      header .menu_btn {
          display: inline-block;
          margin-right: 8%;
        }

      section {
          flex-direction: column;
          margin-top: 80px;
          width: 80%;
      }

      .contents {
          max-width: 100%;
          margin: 0;
      }
      .contents h1 {
          font-size: 50px;
      }

      .mySwiper {margin-top: 20px;}
      .swiper {max-width: 100%;}

      .sns {
        left: 50%;
        transform: translate(-50%,0);
        bottom: -40%;
      }

      .m_navi_wrap {
          width: 100%;
          height: 100%;
          background: rgba(229, 30, 42, 0.9);
          position: fixed;
          right: -100%;
          top: 0;
          z-index: 200;
          display: block;
      }

      .close_btn {
        float: right;
        margin-top: 40px;
        margin-right: 4%;
    }
    
    .m_navi {
        clear: both;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .m_navi > li {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        color: #ffffff;
    }

  }