@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@400;700;900&display=swap');


* {margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth;}

ul, li {list-style: none;}
a {text-decoration: none;}
a:hover {cursor: url("cursor/red_neon_links.cur"), auto;}
body {
    font: normal 15px/1.5em 'Poppins', sans-serif;
    /*background: linear-gradient(#000000,#281a64);*/
    background: #281a64;
    min-height: 100vh;
    min-width: 1440px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    user-select:none;
    cursor: url("cursor/green_neon_normalselect.cur"), auto;
}

/*header*/
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    position: relative;
    z-index: 1000;
    position: fixed;
    background: linear-gradient(#000, rgba(0,0,0,0.7),rgba(0,0,0,0.5),transparent);
}

header > h1 {
    margin-left: 50px;
    /*letter-spacing: 3px;*/
    position: relative;
    width: 50px;
    height: 55px;
}
header h1 a {
    width: 50px;
    height: 55px;
    display: block;
    border: #e50b0b 3px solid;
    border-radius: 5px;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #e50b0b;
    transition: ease 0.5s;
    text-shadow:
    0 0 0.125em #e50b0b,
    0 0 0.45em #630909;

    box-shadow: 
    inset 0 0 0.5em 0#e50b0b, 
    0 0 0.5em 0.1em #e50b0b;
}
header h1 a:hover {
    background: #e50b0b;
    color: hsl(323 21% 16%);
    text-shadow: none;
}
header h1 a::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1.5em 0.5em #e50b0b;
    opacity: 0;
    background-color: #e50b0b;
    z-index: -1;
    transition: opacity 100ms linear;
}
header h1 a:hover::after {
    opacity: 1;
}

/*header h1 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px #630909;
    border-top: 1px solid #630909;
    border-bottom: 1px solid #630909;
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    font-family: 'VT323', monospace;
    font-size: 40px;
    letter-spacing: 3px;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

/*header h1:hover a {
    letter-spacing: 3px;
}

header h1 a::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

header h1:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

header h1::before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

header h1:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

header h1::after {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

header h1:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

header h1::before,
header h1::after {
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
                0 0 15px #ff1f71,
                0 0 30px #ff1f71,
                0 0 60px #ff1f71;
}
*/


/*navi*/
.navi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navi li {
    margin-left: 20px;
}
.navi li:last-child {margin-right: 50px;}
.navi li a {
    display: inline-block;
    padding: 8px 15px;
    color: hsl(317 100% 54%);
    border: hsl(317 100% 54%) 0.125em solid;
    border-radius: 0.25em;
    font-size: 25px;

    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em currentColor;

    box-shadow: 
        inset 0 0 0.5em 0 hsl(317 100% 54%), 
        0 0 0.5em 0 hsl(317 100% 54%);
    position: relative;
    transition: ease 0.4s;
}
.navi li:nth-child(2) a {
    color: #A010D8;
    border-color: #A010D8;
    box-shadow: 
        inset 0 0 0.5em 0 #A010D8, 
        0 0 0.5em 0 #A010D8;
}
.navi li:nth-child(4) a {
    color: #DE0885;
    border-color: #DE0885;
    box-shadow: 
        inset 0 0 0.5em 0 #DE0885, 
        0 0 0.5em 0 #DE0885;
}

.navi li a::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1.5em 0.5em hsl(317 100% 54%);
    opacity: 0;
    background-color: hsl(317 100% 54%);
    z-index: -1;
    transition: opacity 100ms linear;
}
.navi li:nth-child(2) a::after {
    box-shadow: 0 0 1.5em 0.5em#A010D8;
    background-color: #A010D8;
}
.navi li:nth-child(4) a::after {
    box-shadow: 0 0 1.5em 0.5em#DE0885;
    background-color: #DE0885;
}

.navi li a:hover, 
.navi li a:first-child.on,
.navi li:nth-child(3) a.on {
    background: hsl(317 100% 54%);
    color: hsl(323 21% 16%);
    text-shadow: none;
}
.navi li:nth-child(2) a:hover,
.navi li:nth-child(2) a.on {
    background: #A010D8;
    color: hsl(323 21% 16%);
    text-shadow: none;
}
.navi li:nth-child(4) a:hover
.navi li:nth-child(4) a.on {
    background: #fa0462;
    color: hsl(323 21% 16%);
    text-shadow: none;
}
.navi li a:hover::after {
    opacity: 1;
}
.navi li a.on::after {
    opacity: 1;
}



/*main & images*/
#main_container {overflow: hidden;}
#main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1b043d, #281a64);
}
#main img {
    position: absolute;
}
#moon {
    left: 20%;
    top: 5%;
}
#shadow {
    bottom: 50px;
}
#namsan {
    bottom: 90px;
}
#building_l {
    left: 10%;
    bottom: 100px;
    z-index: 5;
}
#building_r {
    right: 15%;
    bottom: 100px;
    z-index: 5;
}
#railway {
    z-index: 5;
    bottom: 80px;
    z-index: 10;
}
#train {
    right: 0;
    bottom: 100px;
    z-index: 11;
}
#water {
    bottom: -60px;
    z-index: 9;
}
#text {
    position: absolute;
    right: -1000px;
    bottom: 200px;
    color: #fff;
    white-space: nowrap;
    font-size: 9vw;
    z-index: 4;
}



/*profile*/
#profile {
    background-color: #350048;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    margin-top: 5%;
    position: relative;
    width: 800px;
    height: 500px;
    background: rgba(255,255,255,0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    transition: 1s;
    z-index: 10;
}
/*.card::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}*/
.card:hover {
    transform: translateX(40%);
}

/*card_1*/
.card .card_l {
    position: relative;
    width: 80%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
}
.card:hover .card_l {
    transform: rotateY(-180deg);
}
.card .card_l .cl_img {
    width: 80%;
    height: 100%;
    transform-style: preserve-3d;
}
.card .card_l .cl_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .card_l .cl_img img:nth-child(2) {
    transform: rotateY(180deg);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card .card_l p {
    position: absolute;
    bottom: 0%;
    right: 5%;
    font-size: 120px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg)
}

/*card_r*/
.card .card_r {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .card_r .cr_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: normal;
    width: 70%;
    opacity: 0;
    transition: ease 1s;
}
.card:hover .cr_content {
    opacity: 1;
}
.card .card_r .cr_content h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}
.e_date {
    font-weight: 600;
    color: #ea4884;
    margin-right: 10px;
}
.experience, .programs, .available_lang, .os {margin-bottom: 20px;}
.p_ion > ion-icon, .available_lang > ion-icon, .os > p:first-child > ion-icon {
    color: #05FCFF;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 12px;
    float: left;
}
.os > p:first-child > ion-icon {margin-right: 13px;}
.programs > p:last-child {
    width: 90%;
    margin-left: 30px;
}
.programs > p:last-child > span {display: block;}

.hashtag > span {
    margin-right: 10px;
    transition: ease 0.5s;
    border-radius: 3px;
}
.hashtag > span:hover {
    color: #000;
    background-color: yellow;
}

/*deco (ion-icon)*/
.deco1 > ion-icon {
    font-size: 15vw;
    color: #fff;
    filter: drop-shadow(0 0 20px #ea4884)
    drop-shadow(0 0 30px #ea4884)
    drop-shadow(0 0 60px #ea4884)
    drop-shadow(0 0 100px #ea4884)
    drop-shadow(0 0 150px #ea4884);
    z-index: 1;
    position: absolute;
    bottom: 10%;
    right: 18%;
}
.deco2 > ion-icon {
    font-size: 5vw;
    color: #fff;
    filter: drop-shadow(0 0 20px #ea4884)
    drop-shadow(0 0 30px #ea4884)
    drop-shadow(0 0 60px #ea4884)
    drop-shadow(0 0 100px #ea4884)
    drop-shadow(0 0 150px #ea4884);
    z-index: 1;
    position: absolute;
    bottom: 27%;
    right: 15%;
}
.deco3 > ion-icon {
    font-size: 10vw;
    color: #fff;
    filter: drop-shadow(0 0 20px #ea4884)
    drop-shadow(0 0 30px #ea4884)
    drop-shadow(0 0 60px #ea4884)
    drop-shadow(0 0 100px #ea4884)
    drop-shadow(0 0 150px #ea4884);
    z-index: 1;
    position: absolute;
    top: 17%;
    left: 20%;
}
.deco4 > ion-icon {
    font-size: 5vw;
    color: #fff;
    filter: drop-shadow(0 0 20px #ea4884)
    drop-shadow(0 0 30px #ea4884)
    drop-shadow(0 0 60px #ea4884)
    drop-shadow(0 0 100px #ea4884)
    drop-shadow(0 0 150px #ea4884);
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 17%;
}


/*portfolio*/
#portfolio {
    background-color: #2d003d;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.c_wrap {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8%;
}
.portlink {
    position: relative;
    width: 310px;
    height: 240px;
    background: rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 10;
    box-shadow: 0 0 20px #ea4884,
    0 0 30px #ea4884;

}
.portlink:hover {
    height: 400px;
}

.img_box {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.img_box img {
    max-width: 100%;
    border-radius: 4px;
}
.card_con {
    position: relative;
    margin-top: -50px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.card_con h2 {margin-bottom: 10px;}
.card_con a {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: 2px solid #fff;
    /*box-shadow: 
        inset 0 0 0.5em 0 #A010D8, 
        0 0 0.5em 0 #A010D8;*/
    border-radius: 10px;
    margin-top: 15px;
    transition: ease 0.5s;
}
.card_con a:hover {
    background: #fff;
    color: #050801;
    /*box-shadow: 0 0 5px #A010D8,
    0 0 25px #A010D8,
    0 0 50px #A010D8,
    0 0 200px #A010D8;*/
}
.portlink:hover .card_con {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.prt_text {
    z-index: 1;
    font-family: 'Yellowtail', cursive;
    /*font-family: 'Warnes', cursive;*/
    font-size: 200px;
    color: #fff;
    filter: drop-shadow(0 0 20px #03e9f4)
    drop-shadow(0 0 30px #03e9f4)
    drop-shadow(0 0 60px #03e9f4)
    drop-shadow(0 0 100px #03e9f4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*neon1*/
.neon1 {
    position: absolute; 
    width: 180px; 
    height: 650px; 
    left: 0; 
    top: 22%;
}
.prt_text2 {
    padding: 20px 28px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 154px;
    border: #fff 0.125em solid;
    border-radius: 0.25em;
    font-size: 45px;
    color: #ffd8d8;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0%;
    animation: flicker 2s infinite alternate;
    z-index: 10;
}
.stick1 {
    width: 90px;
    height: 190px;
    border-top: 8px solid gray;
    border-bottom: 8px solid gray;
    position: absolute;
    left: 0%;
    top: 30%;
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 7px #ffd8d8,
        0 0 10px #f25757,
        0 0 21px #f25757,
        0 0 42px #e50b0b,
        0 0 82px #e50b0b,
        0 0 92px #e50b0b,
        0 0 102px #e50b0b,
        0 0 151px #e50b0b;

        box-shadow:
        0 0 0.1vw 0.4vw #fff7f7,
        0 0 0.4vw 0.6vw #e97272,
        0 0 4vw 0.4vw #e50b0b,

        inset 0 0 1.5vw 0.4vw #e50b0b,
        inset 0 0 0.4vw 0.2vw #e97272,
        inset 0 0 0.5vw 0.2vw #fff7f7;
    }
    20%, 55% {       
      text-shadow: none;
      box-shadow: none;
    }
  }

  /*neon2*/
.neon2 {
    width: 340px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 30%;
}
.prt_text3 {
    padding: 25px 25px 35px 15px;
    font-family: 'Megrim', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    border: #f7b5ec 5px solid;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0%;
    animation: flicker3 2s infinite alternate;
    z-index: 10;
}
@keyframes flicker3 {
0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #A9FCEC,
    0 0 10px #43E7D8,
    0 0 21px #43E7D8,
    0 0 42px #20B5A9,
    0 0 82px #20B5A9,
    0 0 92px #20B5A9,
    0 0 102px #20B5A9,
    0 0 151px #20B5A9;

    box-shadow:
    0 0 0.1vw 0.4vw #f7b5ec,
    0 0 0.4vw 0.6vw #f166e6,
    0 0 4vw 0.4vw hsl(317 100% 54%),

    inset 0 0 1.5vw 0.4vw hsl(317 100% 54%),
    inset 0 0 0.4vw 0.2vw #f166e6,
    inset 0 0 0.5vw 0.2vw #f7b5ec;
}
30%, 55% {       
    text-shadow: none;
    box-shadow: none;
}
}
.stick2 {
width: 110px;
height: 50px;
border-top: 8px solid gray;
border-bottom: 8px solid gray;
position: absolute;
right: 0%;
top: 20%;
}

/*neon3*/
.neon3 {
    width: 400px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 12%;
}
.stick3 {
    width: 40px;
    height: 50px;
    border-top: 8px solid gray;
    border-bottom: 8px solid gray;
    position: absolute;
    right: 0%;
    top: 30%;
    z-index: 1;
}
.prt_text4_wrap {
    border: #fff 0.125em solid;
    border-radius: 15px;
    width: 360px;
    height: 120px;
    padding: 10px;
    z-index: 20;
    box-shadow:
    0 0 0.1vw 0.4vw #cdf3ae,
    0 0 0.4vw 0.6vw #adfc6d,
    0 0 4vw 0.4vw rgb(98, 255, 7),

    inset 0 0 1.5vw 0.4vw rgb(98, 255, 7),
    inset 0 0 0.4vw 0.2vw #adfc6d,
    inset 0 0 0.5vw 0.2vw #cdf3ae;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.prt_text4 {
    padding: 30px 20px 30px 10px;
    font-family: 'Codystar', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    border: 8px dotted rgb(255, 255, 0);
    background-color: none;
    color: #fac8c8;
    position: absolute;
    left: 0;
    top: 0%;
    animation: flicker4 2s infinite alternate;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes flicker4 {
0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
        0 0 7px #ffd8d8,
        0 0 10px #f25757,
        0 0 21px #f25757,
        0 0 42px #e50b0b,
        0 0 82px #e50b0b,
        0 0 92px #e50b0b,
        0 0 102px #e50b0b,
        0 0 151px #e50b0b;
}
10%, 15% {       
    text-shadow: none;
}
}

.neon4 {
    width: 200px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 12%;
}
.prt_text5_wrap {
    border: rgb(233, 250, 239) 5px solid;
    border-radius: 10px;
    width: 100px;
    height: 300px;
    position: relative;
    animation: flicker5 2s infinite alternate;
    z-index: 10;
}
@keyframes flicker5 {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        box-shadow:
    0 0 0.1vw 0.4vw #b3fae6,
    0 0 0.4vw 0.6vw #02DA9C,
    0 0 4vw 0.4vw #028B63,

    inset 0 0 1.5vw 0.4vw #028B63,
    inset 0 0 0.4vw 0.2vw #02DA9C,
    inset 0 0 0.5vw 0.2vw #b3fae6;
    }
    30%, 55% {       
        box-shadow: none;
    }
    }
.prt_text5 {
    padding: 20px 20px 20px 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-weight: 900;
    font-size: 50px;
    color: #c7ddf3;
    position: absolute;
    left: 20%;
    top: 0%;
    animation: flicker6 2s infinite alternate;
    z-index: 10;
}
.prt_text5_wrap ion-icon {
    font-size: 55px;
    color: #f7b5ec;
    position: absolute;
    bottom: 7%;
    left: 20%;
    filter: drop-shadow(0 0 20px #ea4884)
    drop-shadow(0 0 30px #ea4884);
}
@keyframes flicker6 {
0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #a5ccf3,
    0 0 10px #097CCD,
    0 0 21px #097CCD,
    0 0 42px #0764BE,
    0 0 82px #0764BE,
    0 0 92px #0764BE,
    0 0 102px #0764BE,
    0 0 151px #0764BE;
}
30%, 55% {       
    text-shadow: none;
}
}
.stick4 {
    width: 100px;
    height: 120px;
    border-top: 8px solid gray;
    border-bottom: 8px solid gray;
    position: absolute;
    right: 0%;
    top: 30%;
}









  /*contact*/
  #contact {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#contact::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%; 
    height: 100%;
    background: url("images/brickwall.png") no-repeat center center;
    filter: hue-rotate(325deg) saturate(120%);
  }

.contact_neon {
    padding: 50px;
    box-shadow:
    0 0 0.1vw 0.4vw #fff7f7,
    0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b,

    inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272,
    inset 0 0 0.5vw 0.2vw #fff7f7;
    border-radius: 1.5rem;
    z-index: 10;
    position: absolute;
    align-items: center;
    top: 16%;
}
.contact_neon p {
    font-family: 'Warnes', cursive;
    font-size: 80px;
    color: #ffd8d8;
    text-shadow:
    .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,

    .1vw 0vw 0vw #f25757, .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757,
    .1vw 0vw .1vw #f25757, .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
    .1vw 0vw 2vw #f25757, .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757,

    .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b,
    .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b,
    .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 0vw #e50b0b;
}

.con_screen {
    width: 600px;
    height: 50px;
    border: 8px solid #5f5252;
    background-color: #000;
    z-index: 10;
    overflow: hidden;
    position: absolute;
    align-items: center;
}
.con_screen1 {
    top: 35%;
    transform: rotate(2deg);
    z-index: 110;
}
.con_screen2 {
    top: 51%;
}
.con_screen p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    justify-content: center;
}
.con_screen1 p {
    animation: animate1 5s linear infinite;
    left: 0;
}
.con_screen2 p {
    animation: animate2 2.5s linear infinite;
    margin-left: 10px;
}
@keyframes animate1 {

    0% {
        left: -90%;
    }
    100% {
        left: 90%;
    }
}
@keyframes animate2 {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
    }
    20%, 55% {
        opacity: 0;
    }
}
.con_screen .txt_green {
    color: darkgreen;
    margin: 0 5px;
}
.con_screen .txt_blue {
    color: darkblue;
    margin: 0 5px;
}

.address {
    width: 460px;
    height: 90px;
    position: absolute;
    top: 40%;
    background-color: #000;
    border: 7px solid rgb(119, 115, 115);
    z-index: 100;
    align-items: center;
}
.anim-typewriter.on {
    width: 406px;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 50px;
    line-height: 40px;
    color: #fff;
    font-family: 'VT323', monospace;
    animation: typewriter 2s steps(20) 1s 1 normal both,
                blinkTextCursor 500ms steps(20) infinite normal;
    white-space: nowrap; 
    overflow: hidden;
    border-right: 3px solid #fff;
    opacity: 0;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 406px;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #fff;}
    to{border-right-color: transparent;}
  }

#copyright {
    width: 100%;
    height: 170px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright div p {
    color: #fff;
    font-size: 13px;
    text-align: center;
}
#copyright div p:last-child {
    margin-top: 20px;
}